

<div class="container">
        <div class="col-6 mt-4 p-4">
                <div class="card w-20 p-1" style="width: 500px;padding: 2px;" >
                        <div class="card-body">
                          <h4 class="card-title">Departments</h4>
                          <p class="card-text">List of deparments</p>
                          
                          <ul class="list-group" *ngFor="let dep of deparments">
                                <li (click)="onSelect(dep)" class="list-group-item d-flex justify-content-between align-items-center">
                                    {{dep.name}} - {{dep.author}}
                                  <span class="badge badge-primary badge-pill">{{dep.version}}</span>
                                </li>
                        </ul>
                        </div>
                      </div>
            </div>
            <div class="col-6">

            </div>
</div>

